<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h5>ExploreWorld</h5>
                <p>Making travel dreams come true since 2010. We specialize in creating unforgettable travel experiences around the globe.</p>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li class="mb-2"><a href="#destinations" class="text-white text-decoration-none">Destinations</a></li>
                    <li class="mb-2"><a href="#tours" class="text-white text-decoration-none">Tours</a></li>
                    <li class="mb-2"><a href="#packages" class="text-white text-decoration-none">Packages</a></li>
                    <li class="mb-2"><a href="#contact" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Help Center</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5>Payment Methods</h5>
                <div class="payment-methods">
                    <i class="fab fa-cc-visa fa-2x me-2"></i>
                    <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                    <i class="fab fa-cc-amex fa-2x me-2"></i>
                    <i class="fab fa-cc-paypal fa-2x me-2"></i>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2023 ExploreWorld. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">Designed with <i class="fas fa-heart text-danger"></i> by ExploreWorld Team</p>
            </div>
        </div>
    </div>
</footer>